/* Style général pour le conteneur des cartes */
.card-container {
    display: flex; /* Utilise un modèle d'affichage flexbox */
    justify-content: center; /* Espace équitablement les cartes horizontalement */
    align-items: flex-end; /* Alignez les cartes en bas de l'écran */
    height: 100vh; /* Utilise la hauteur totale de la fenêtre */
    padding: 10px; /* Espace entre les cartes */
    overflow: auto; /* Ajoute une barre de défilement si nécessaire */
    /* Autres styles personnalisés au besoin */
}
  
  
  /* Style pour chaque carte individuelle */
.card {
  position: relative;  
  width: 150px; /* Largeur de la carte */
  height: 200px; /* Hauteur de la carte */
  margin: 10px; /* Marge entre les cartes */
  
  display: inline-block; /* Affichage en ligne pour éviter le chevauchement */
  border: none;
  margin: 0;
  padding: 0;
}
  
  
  /* Style pour les images à l'intérieur des cartes */
.card img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de la carte */
    height: auto; /* Ajuste la hauteur proportionnellement à la largeur */
    display: block; /* Supprime tout espace réservé sous l'image */
}

.align-bottom {
  align-items: flex-end; /* Aligne les cartes en bas de l'écran */
}