
<div class="card-container " style="display: flex; justify-content: center; align-items: flex-end;height: 100vh;" >

  <app-card *ngFor="let card of cardsToShow" [card]="card"></app-card>
  <app-salle></app-salle>
  <div class="background"></div>
</div>

