/* salle.component.css */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .game-area {
    width: 400px; /* Ajustez la largeur selon vos besoins */
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    background-color: lightgray;
    border: 1px solid gray;
  }
  
  