<div class="container">
    <div class="game-area" (dragover)="onDragOver($event)" (drop)="onCardDropped($event)">
      <!-- Votre carré de jeu ici -->
      <!-- Vous pouvez ajouter des cartes, des éléments de jeu, etc. -->
    </div>
</div>  